body{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
button{
    height: 40px;
    width: 100px;   
    border-radius: 20px;
    background-color: saddlebrown;
    color: white;
    font-size: 18px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover, button:focus{
    background-color: peru;
    cursor: pointer;
}   
.huhu{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;    
}
#file{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}