.formGroup{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    gap:5px;
    border-radius: 5px;
}
.formGroup label{
    width: 150px;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    gap:5px;
    flex-wrap: wrap;
}

#output{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height : 200px;
    width : 300px;
    border : 1px solid rgba(3, 38, 49, 0.24);
}
<<<<<<< HEAD
#profileImage{
=======
#Profilepic{
>>>>>>> 66c790903713cb65678593379c74a29200825828
    display: inline-block;
    height : 100px;
    width : 100px;
    border-radius: 50%;
<<<<<<< HEAD
}

#container{
    height: 400px;
    width: 400px;
    background-color: pink;
}
#mode{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right:10px;
    top: 10px;
    position:fixed;

}
.lt{
    text-decoration: line-through;
    font-weight: bold;
=======
>>>>>>> 66c790903713cb65678593379c74a29200825828
}